<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>홈화면</title>
    <link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px" >
    <div class="py-5 text-center">
        <h2 th:text="#{page.home}">홈 화면</h2>
    </div>

    <div class="row">
        <div class="col">
            <button type="button" th:onclick="|location.href='@{/members/add}'|" th:text="#{button.join}" class="w-100 btn btn-secondary btn-lg"></button>
        </div>
        <div class="col">
            <button type="button" th:onclick="|location.href='@{/login}'|" th:text="#{button.login}" class="w-100 btn btn-dark btn-lg"></button>
        </div>
    </div>
    <hr class="my-4"/>
</div>
</body>
</html>